* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}

label {
  font-family: "Title", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  display: block;
}

input, 
textarea,
select {
  flex: 0 1 auto;
  margin-bottom: 10px;
}
textarea {
  flex: 0 1 auto;
  margin: 5px;
}
input[type="number"] {
  max-width: 60px;
  padding: 5px;
}
select {
  padding: 5px;
}
.canvas {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1050px;
  margin: 0px auto;
  background-color: yellow;
  height: 100vh;
}

.item-list-container {
  flex: 0 0 150px;
  background-color: gainsboro;
}
.section-list-container {
  flex: 0 0 150px;
  background-color:lightsteelblue;
}


.item-list {
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid black;
  height: 100vh;
  padding: 10px;
  overflow-y: scroll;
}
.item-button {
  margin: 3px;
  padding: 5px 0px;
}

.form-container {
  display: flex;
  flex: 1 1 auto;
  max-width: 750px;
  background-color: white;
  flex-flow: row nowrap;
  height: 100vh;
  margin-bottom: 60px;
}

.form-section {
  outline: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-item {
  flex: 0 1 auto;
  margin: 5px;
  outline: 1px solid black;
  padding: 5px;
}

.item-container {
  display: flex;
  flex-flow: row wrap;
}

.input-group {
  margin: 3px;
}
.remove-button {
  background-color: tomato;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  max-width: 150px;
  padding: 5px;
}
.add-button {
  height: fit-content;
  width: fit-content;
  margin: 5px;
  padding: 5px;
}

.active-form {
  flex: 1 1 auto;
  padding: 10px 30px 50px 30px;
  margin: 0 auto;
  overflow-y: scroll;
  min-height: 100vh;
}

.storylet-title,
.result-title,
.quality-name {
  font-family: "Title", sans-serif;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  width: 100%;
}

.storylet-text,
.result-text {
  font-family: 'Standard', serif;
  font-size: 15px;
  line-height: 1.4;
  padding: 5px;
  width: 100%;
  height: 80px;
}

.quality-description,
.quality-label {
  font-family: "Standard", serif;
  font-size: 12px;
  min-width: 200px;
  padding: 5px;
}
.action-title,
.quality-category {
  font-family: "Standard", serif;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}

.action-text,
.storylet-button-text {
  font-family: 'Standard', serif;
  font-size: 15px;
  padding: 5px;
  width: 100%;
  height: 60px;
}

.id-label {
  font-family: 'Title', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.action {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  margin-left: 20px;
  background-color:gainsboro;
  padding: 20px;
  border-radius: 4px;
}

.action-details-container {
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  outline: 1px solid black;
}

.action-header-container {
  display: flex;
  flex: 2 1 auto;
  flex-flow: column nowrap;
}
.action-reqs-container {
  display: flex;
  flex-flow: row wrap;
}
.action-results-container {
  margin: 15px 0 15px 25px;
  background-color: cornsilk;
  padding: 10px;
  border-radius: 4px;
}

.save-pillow {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
}
.save-button {
  padding: 1px 40px;
  color: white;
  border: none;
  outline: 1px solid darkslategray;
  background-color: darkseagreen;
  font-family: "Title", sans-serif;
}
.save-button:hover {
  background-color: darkolivegreen;
}
.save-button:active {
  background-color: darkseagreen;
}





.add-req-button,
.add-change-button,
.add-challenge-button,
.remove-challenge-button {
  flex: 0 1 auto;
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

.remove-challenge-button {
  background-color: tomato;
  color: white;
  border: 1px solid gray;
  border-radius: 3px  ;
}

.result {
  padding: 10px;
  background-color: white;
  margin-top: 15px;
}

.result-success {
  background-color: darkseagreen;
}
.result-failure {
  background-color: tomato;
}


.result-text {
  margin-bottom: 15px;
}

.change-container {
  display: flex;
  flex-flow: row wrap;
}

.change {
  display: flex;
  flex-flow: row nowrap;
  outline: 1px solid black;
  padding: 5px;
  margin: 5px;
  background-color: white;
}
