* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}

label {
  font-family: "Title", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  display: block;
}

input {
  flex: 0 1 auto;
}
input[type="number"] {
  max-width: 60px;
  padding: 5px;
}

select {
  padding: 5px;
}

.canvas {
  max-width: 1000px;
  margin: 0px auto;
  background-color: white;
  height: 100vh;
}
.form-section {
  display: flex;
  flex-flow: column nowrap;
  outline: 1px solid black;
  padding: 20px;
}
.form-container {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  height: 100vh;
}

.item-list {
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid black;
  height: 100vh;
  padding: 10px;
  overflow-y: scroll;
}

.item-button {
 
}

.storylet-form {
  flex: 1 1 auto;
  padding: 10px 60px;
  margin: 0 auto;
  overflow-y: scroll;
  min-height: 100vh;
}

.storylet-title,
.result-title {
  font-family: "Title", sans-serif;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  width: 100%;
}

.storylet-text,
.result-text {
  font-family: 'Standard', serif;
  font-size: 15px;
  line-height: 1.4;
  padding: 5px;
  width: 100%;
  height: 80px;
}

.storylet-button {
  display: flex;
  flex-flow: column nowrap;
  outline: 1px solid black;
  padding: 15px;
  margin: 0 auto 15px auto;
  width: fit-content;
}

.action-title,
.storylet-button-title {
  font-family: "Standard", serif;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}

.action-text,
.storylet-button-text {
  font-family: 'Standard', serif;
  font-size: 15px;
  padding: 5px;
  width: 100%;
  height: 60px;
}

.storylet-button-text {
  max-width: 500px;
  min-width: 400px;
}

.id-label {
  font-family: 'Title', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.action {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  margin-left: 20px;
  background-color:gainsboro;
  padding: 20px;
  border-radius: 4px;
}

.action-details-container {
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  outline: 1px solid black;
}

.action-header-container {
  display: flex;
  flex: 2 1 auto;
  flex-flow: column nowrap;
}
.action-reqs-container {
  display: flex;
  flex-flow: row wrap;
}
.action-results-container {
  margin: 15px 0 0 35px;
  background-color: cornsilk;
  padding: 10px;
  border-radius: 4px;
}
.result {

}

.req {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  outline: 1px solid black;
  margin: 5px;
}

.challenge {
  display: flex;
  flex-flow: row nowrap;
  outline: 1px solid black;
  padding: 5px;
  width: fit-content;
}

.req-group {
  margin: 5px;
}
.add-req-button,
.add-change-button,
.add-challenge-button,
.remove-challenge-button {
  flex: 0 1 auto;
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

.remove-challenge-button {
  background-color: tomato;
  color: white;
  border: 1px solid gray;
  border-radius: 3px  ;
}

.result {
  outline: 1px solid black;
  padding: 10px;
  background-color: white;
  margin-top: 15px;
}

.result-success {
  background-color: darkseagreen;
}
.result-failure {
  background-color: tomato;
}


.result-text {
  margin-bottom: 15px;
}

.change-container {
  display: flex;
  flex-flow: row wrap;
}

.change {
  display: flex;
  flex-flow: row nowrap;
  outline: 1px solid black;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.action-challenge-container {
  margin-top: 15px;

}