* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}

.canvas {
  max-width: 720px;
  height: 100vh;
  margin: auto;
  padding: 15px;
  font-family: 'Standard';
  background-color: blanchedalmond;
}

.actions-container {
  margin-top: 15px;
}

.domain, .conclusion-container div {
  padding: 15px 20px;
  background-color: white;
}

.conclusion-container div {
  margin-bottom: 30px;

}

.actions-container {
  max-width: 550px;
  margin: 20px auto;
}

.action {
  background-color: white;
  padding: 15px 15px 15px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  min-height: 100px;
}

.action:hover,
.action:focus {
  outline: 3px solid gold;
}

.action-disabled {
  background-color: tomato;
  cursor: default;
}
.action-disabled:hover {
  outline: none;
}

.qualities-container {
  position: fixed;
  display: flexbox;
  width: 250px;
  padding: 10px;
  left: 0;
  background-color: white;
  transition: left linear 0.4s;
  height: 100vh;
}

.quality {
  outline: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.offstage {
  left: -250px !important;
}

.toolbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid black;
  padding: 10px;
  background-color: white;
  width: 100%;
  max-width: 720px;
}