* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
}

.play-container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  color: black;
  font-family: 'Standard';
}

.centerpiece {
  flex: 0 1 auto;
  max-width: 650px;
  margin-left: 25px;
  padding: 15px;
}

.qualities-container {
  flex: 0 1 auto;
  width: 250px;
  min-width: 200px;
  padding: 10px;
  height: 100vh;
  /* border-right: 1px solid black; */
  outline: 1px solid black;
}

.actions-container {
  margin-top: 15px;
}

.domain {
  /* padding: 15px 20px; */
  background-color: inherit;
  margin-bottom: 30px;
}


.conclusion-container {
  margin-bottom: 20px;
}

.conclusion-outcomes {
  background-color: teal;
  padding: 10px;
  margin: 15px auto 0px auto;
  max-width: 550px;
}

.actions-container {
  /* max-width: 550px;
  margin: 20px auto;*/
} 

.action {
  background-color: inherit;
  padding: 15px 15px 15px 30px;
  margin: 0px auto 20px auto;
  width: 550px;
  cursor: pointer;
  
  /* min-height: 100px; */
  outline: 1px solid black;
  /* transition: outline ease 0.3s; */
}

.action:hover,
.action:focus {
  outline: 3px solid gold;
}

.action-disabled {
  background-color: inherit;
  cursor: default;
  color: grey;
  outline: 1px solid tomato;
}
.action-disabled:hover {
  color: grey;
  outline: 1px solid tomato;
}

.action-challenge-container {
  margin-top: 10px;
}

.action-reqs-container {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
}

.action-req {
  flex: 0 1 auto;
  padding: 5px;
  color: white;
  background-color: yellowgreen;
  width: fit-content;
  height: 30px;
  margin-right: 5px;
}

.req-disabled {
  background-color: tomato;
}


.quality {
  outline: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.offstage {
  left: -250px !important;
}

.toolbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid black;
  padding: 10px;
  background-color: white;
  width: 100%;
  max-width: 720px;
}