@font-face {
  font-family: 'Title';
  src: url(../assets/fonts/Alata.ttf);
}

@font-face {
  font-family: 'Standard';
  /* src: url(../assets/fonts/NotoSansJP-Regular.otf); */
  /* src: url(../assets/fonts/IBMPlexSerif-Regular.ttf); */
  src: url(../assets/fonts/NotoSerifJP-Regular.otf);
  /* src: url(../assets/fonts/SortsMillGoudy-Regular.ttf); */
  /* src: url(../assets/fonts/Ovo-Regular.ttf); */
  /* src: url(../assets/fonts/Merriweather-Regular.ttf); */
  /* src: url(../assets/fonts/Mulish-VariableFont_wght.ttf); */
  /* src: url(../assets/fonts/Assistant-VariableFont_wght.ttf); */
}

.main-menu-small {
  font-family: "Title", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.main-menu-big {
  font-family: "Title", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}


.qualities-title,
.qualities-category-title {
  text-align: center;
}



