


/** CANVAS COMPONENT */

.play-canvas {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  background-color: white;
  color: black;  
  margin: 0 auto;
  justify-content: center;
}

/* @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 960px) {
  .play-canvas {
    margin: 0 05%;
  }
} */

@media (min-width: 1920px) {
  .play-canvas {
    margin: 0 08%;
  }
}

@media (min-width: 2560px) {
  .play-canvas {
    margin: 0 15%;
  }
}

/** QUALITIES CONTAINER COMPONENT */

.play-qualities-container {
  flex: 1 1 15rem;
  min-width: 11rem;
  padding: 2rem 1rem 3.125rem 1rem;
  height: 100%;
  outline: 1px solid gainsboro;
  overflow-y:scroll;
}

.play-qualities-container::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}
.play-qualities-container::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 20px;
}

.play-qualities-title {
  font-family: 'Title', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.play-qualities-category-title {
  font-family: 'Title', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.play-quality {
  outline: 1px solid black;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}

.play-quality h1 {
  font-family: 'Standard', serif;
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
}

.play-quality p {
  font-family: 'Standard', serif;
  font-size: 0.7rem;
  color: inherit;
}

.play-active-quality {
  outline: 1px dashed black;
  cursor: pointer;
}

.play-active-quality:focus,
.play-active-quality:hover {
  outline: 1px solid gold;
}

/** STORY CONTAINER COMPONENT */

.play-story-container {
  flex: 0 1 40rem;
  padding: 2rem 1rem 3.125rem 2rem;
  overflow-y: scroll;
  height: 100vh;
}
.play-story-container::-webkit-scrollbar {
  width: 0.25rem;
  background: transparent;
}
.play-story-container::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 1rem;
}

/** CONCLUSION COMPONENT */

.play-conclusion h1 {
  font-family: 'Title', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.75rem;
}

.play-conclusion p {
  font-family: 'Standard', serif;
  font-size: 1rem;
  line-height: 1.4rem;
}

.play-conclusion-outcomes {
  background-color: teal;
  padding: 0.8rem;
  margin: 1rem auto 0 auto;
}

.play-conclusion-outcomes p {
  color: white;
  font-family: 'Title', sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
}

.play-challenge-passed {
  background-color: limegreen;
}
.play-challenge-failed {
  background-color: tomato;
}

.play-conclusion-seperator {
  border-bottom: 1px solid black;
  margin: 2rem auto;
  max-width: 90%;
}

/** CONTEXT HEADER COMPONENT */

.play-header h1 {
  font-family: 'Title';
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.play-header p {
  font-family: 'Standard';
  font-size: 1rem;
  line-height: 1.4rem;
}

/** OPTIONS LIST COMPONENT */

.play-options-list {
  margin-top: 1rem;
}

.play-option {
  padding: 0.8rem 0.8rem 0.8rem 1.5rem;
  margin: 0 0 1rem 1rem;
  max-width: 32rem;
  cursor: pointer;
  outline: 1px solid black;
}

.play-option h1 {
  font-family: "Standard", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.play-option p {
  font-family: 'Standard', serif;
  font-size: 0.9rem;
}

.play-option:hover,
.play-option:focus {
  outline: 3px solid gold;
}

.play-option-disabled {
  cursor: default;
  color: grey;
  outline: 1px solid tomato;
}
.play-option-disabled:hover {
  color: grey;
  outline: 1px solid tomato;
}

.play-option-challenge-container {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.play-option-challenge-icon {
  font-size: 2.5rem !important;
  margin-right: 1rem;
}

.play-challenge-hard {
  color: crimson;
}

.play-challenge-med {
  color: tomato
}

.play-challenge-easy {
  color: limegreen;
}

.play-option-reqs-container {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row wrap;
}

.play-option-req {
  flex: 0 1 auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
  color: white;
  background-color: yellowgreen;
  width: fit-content;
  margin-right: 0.5rem;
}

.req-disabled {
  background-color: tomato;
}

.play-option-req h1 {
  font-family: 'Title', sans-serif;
  font-size: 0.8rem;
}

/** DECK LIST COMPONENT */

.play-deck-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;
}

.play-deck {
  flex: 0 1 auto;
  outline: 1px solid black;
  height: 10rem;
  width: 7rem;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
}
.play-deck:hover,
.play-deck:focus {
  outline: 2px solid gold;
}
.play-deck-label {
  font-family: "Title", sans-serif;
  font-size: 1rem;
}
.play-card-count {
  font-family: "Standard", serif;
  font-size: 0.8rem;
}

/** BACK BUTTON COMPONENT */

.play-back-button {
  margin-top: 1rem;
  padding: 0.25rem 0.8rem;
  background-color: inherit;
  border: none;
  outline: 1px solid black;
  font-family: "Standard", serif;
  font-size: 1rem
}

.play-back-button:hover,
.play-back-button:active,
.play-back-button:focus {
  cursor: pointer;
  outline: 2px solid gold;
}

/** TOOLBAR COMPONENT */

.play-toolbar-container {
  flex: 1 1 15rem;
  padding: 1.5rem;
  outline: 1px solid gainsboro;
  min-width: 11rem;
}

.play-toolbar button {
  padding: 0.25rem 1rem;
  background-color: white;
  outline: 1px solid black;
  border: none;
  cursor: pointer;
  font-family: "Standard", serif;
  font-size: 1rem;
}

.play-toolbar button:hover {
  outline: 2px solid gold;
}

.play-disabled-button,
.play-disabled-button:hover {
  outline: 1px solid gray !important;
  cursor:default;
}



.play-item-list {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  max-width: 250px;
  max-height: 400px;
  padding: 10px;
}

.modal-window,
.upright-modal-window {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: white;
  box-shadow: 0px 0px 10px 2px grey;
}

.upright-modal-window {
  height: 400px;
  width: 250px;
}

.freeze-window {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
}